{% extends 'shop/basic.html' %}
{% block aboutactive %} active {% endblock %}

{% block title %} About Us {% endblock %}

{% block css %}
    .center{
    text-align: left;
    }
{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1>E-Kart</h1>
        <p class="center">E-Kart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India,
            and
            incorporated in
            Singapore as a private limited company. The company initially focused on online book sales before
            expanding into other product categories such as consumer electronics, fashion, home essentials, groceries,
            and lifestyle products.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <img src="/media/shop/images/goal.png" class="mb-3" style="width:50px">
            <h2>Goals</h2>
            <p  class="center">Going global: Be the first ever Indian ecommerce business to go global. The world is
                looking towards
                emerging economies and what they can offer to the world. Why not be a pioneer? Start small and broaden
                the horizons. Indian price sensitive mentality and conscious spending patterns will always be a barrier
                for E-Kart to reach its financial break even soon and will have to depend on external funding in order
                to sustain. Going global will increase the cash flow many fold.
            </p>
        </div>
        <div class="col-md-4 mb-5">
            <img src="/media/shop/images/futureplan.png" class="mb-3" style="width:50px">
            <h2>Future Plans</h2>
            <p>Build the market: Previously, Japanese people did not drink coffee. Nestle introduced coffee flavored ice
                cream in the Japanese market for kids so that the future consumers will have a taste and affection
                towards coffee and that will open a new market for Nestle after 20 years. E-Kart sells mobiles, but
                there is a fantastic opportunity which it can use to build the market. Simple question to be asked is:
                who is going to buy from E-Kart in future, the smartphone and internet users</p>
        </div>
        <div class="col-md-4 mb-5">
            <img src="/media/shop/images/bio.png" class="mb-3" style="width:50px">
            <h2>Carbon Neutral</h2>
            <p class="center">In the face of the climate crisis, we at E-Kart decided to take action. Transport is one of the main
                industries that impacts global warming, which is why we are the first app in Europe and Latin America to
                offset 100% of our emissions through local initiatives in the countries in which we operate.
                The offset projects would not be possible without the guidance of the Sustainability team and the
                support of the other local teams, including the Champions, an individual that helps us to better
                understand</p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->


{% endblock %}