<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/media/shop/images/{% block favicon %}{% endblock %}.png" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>

    <style>
        footer {
            position: static;
            height: 8vh;
            text-align: center;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            background-color: #0c012e;
            color: white;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        body::-webkit-scrollbar {
            width: 11px;
        }

        body::-webkit-scrollbar-track {
            background: white;
        }

        body::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 10px;
        }
        .bg-danger{
            background-color: #d32133 !important;
        }

            {% block css %}

            {% endblock %}
    </style>
    {% block head %} {% endblock %}
</head>

<body>
    <nav class="font-weight-bold navbar navbar-expand-lg sticky-top navbar-light bg-danger">
        <a class="navbar-brand" href="/shop">E-Kart</a>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% block homeactive %} {% endblock %}" href="/shop/">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item {% block aboutactive %} {% endblock %}">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>

                <li class="nav-item {% block trackeractive %} {% endblock %}">
                    <a class="nav-link" href="/shop/tracker">Tracker</a>
                </li>

                <li class="nav-item {% block contactactive %} {% endblock %}">
                    <a class="nav-link" href="/shop/contact">Contact Us</a>
                </li>

                <li class="nav-item {% block blogactive %} {% endblock %}">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>

            </ul>

            <form action="/shop/search/" class="form-inline my-2 mx-2 my-lg-0" method="get">
                <input onkeyup="success()" aria-label="Search" class="form-control mr-sm-2" id="search" name="search"
                    placeholder="Search" type="search">
                <button class="btn btn-outline-dark font-weight-bold my-2 my-sm-0" id="searchButton" disabled="true"
                    type="submit">Search</button>
            </form>

            <button class="btn btn-info mx-2" data-toggle="popover" data-container="body" data-html="true"
                data-placement="bottom" data-animation="true" onclick="clickHandler()" id="popcart" type="button">
                Cart(<span id="cart">0</span>)
                <img src="/media/shop/images/cart.png" id="svg_cart" width="20px">
            </button>

            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-2 font-weight-bold">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button"
                        data-toggle="dropdown"> Welcome {{request.user}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="/shop/logout_handler/">Logout</a></div>
                </li>
            </ul>
            {% else %}
            <a class="btn btn-primary ml-3" id="signinbtn" href="/shop/signIn">Sign In</a>

            <a class="btn btn-primary ml-3" id="signupbtn" href="/shop/signUp">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% block body %} {% endblock %}

    <footer>
        <br>
        <p>&copy; 2022 E-Kart, All rights reserved</p>
        <br>
    </footer>

    <script crossorigin="anonymous" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function success() {
            if (document.getElementById("search").value === "") {
                document.getElementById('searchButton').disabled = true;
            }
            else {
                document.getElementById('searchButton').disabled = false;
            }
        }
        function clickHandler() {
            updatePopover();
            $('#popcart').popover('show')
        }
    </script>

    {% block js %} {% endblock %}
</body>

</html>